<section class="home-container">
  <header class="header">
    <img class="logo-header" src="../../../assets/images/logo.svg" alt="logo">
    <button class="primary poppins-semibold" type="button">Try It Free</button>
  </header>
  <section class="container">
    <div class="text-container">
      <h1 class="title poppins-semibold">Build The Community Your Fans Will Love</h1>
      <p class="paraph open-sans-400">Huddle re-imagines the way we build communities. You have a voice, butsodoes your
        audience.
        Create connections with your users as you engage in genuine discussion.
      </p>
      <button class="btn" type="button">Get Started For Free</button>
    </div>
    <img class="boards-mockups" src="../../../assets/images/illustration-mockups.svg" alt="boards-mockups">
  </section>
</section>