<section class="info-section">
  <article class="articles">
    <div class="text-container">
      <h3 class="title poppins-semibold">Grow Together</h3>
      <p class="paraph open-sans-400">
        Generate meaningful discussions with your audience and build a strong, loyal community.
        Think of the insightful conversations you miss out on with a feedback form.
      </p>
    </div>
    <img class="imgs" src="../../../assets/images/illustration-grow-together.svg" alt="img">
  </article>
  <article class="articles">
    <div class="text-container">
      <h3 class="title poppins-semibold">Flowing Conversations</h3>
      <p class="paraph open-sans-400">
        You wouldn't paginate a conversation in real life, so why do it online? Our threads
        have just-in-time loading for a more natural flow.
      </p>
    </div>
    <img class="imgs" src="../../../assets/images/illustration-flowing-conversation.svg" alt="img">
  </article>
  <article class="articles">
    <div class="text-container">
      <h3 class="title poppins-semibold">Your Users</h3>
      <p class="paraph open-sans-400">
        It takes no time at all to integrate Huddle with your app's authentication solution.
        This means, once signed in to your app, your users can start chatting immediately.
      </p>
    </div>
    <img class="imgs" src="../../../assets/images/illustration-your-users.svg" alt="img">
  </article>
</section>